[user]
	email = elasticnet1995@gmail.com
	name = gesoges0
[alias]
	tree = log --graph --oneline
[core]
	editor = vim
[sequence]
	editor = vim

# https://github.com/dandavison/delta
# fdfcc8fce30754a4f05eeb167a15d519888fc909
[include]
    path = /home/gesogeso/src/dotfiles/.delta/themes.gitonfig

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
    features = my-delta-config unobtrusive-line-numbers decorations my-color-moved-theme zebra-dark

[delta "my-delta-config"]
    # https://dandavison.github.io/delta/choosing-colors-styles.html
    minus-style = black bold ul "#c78b94"
    line-numbers = true
    # line-numbers-left-format = ""
    # line-numbers-right-format = "│ "
    # hyperlinks = true
    # hyperlinks-file-link-format = "vscode://file/{path}:{line}"
    # diff-highlights = "bold green"
    
[delta "unobtrusive-line-numbers"]
    line-numbers = true
    # line-numbers-minus-style = "#444444"
    # line-numbers-zero-style = "#444444"
    # line-numbers-plus-style = "#444444"
    # line-numbers-left-format = "{nm:>4}┊"
    # line-numbers-right-format = "{np:>4}│"
    line-numbers-left-style = blue
    line-numbers-right-style = blue

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold blue ul
    file-decoration-style = none
    hunk-header-decoration-style = yellow box

[delta "my-color-moved-theme"]
    git-moved-from-style = bold purple     # An ad-hoc named style (must end in "-style")

    map-styles = "my-color-moved-theme.git-moved-from-style => #a60a21 #1d83f0, \
                  bold cyan => syntax #1d83f0"

    # we could also have defined git-moved-to-style = bold cyan

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
    # https://git-scm.com/docs/git-diff#Documentation/git-diff.txt---color-movedltmodegt
    # colorMoved = dimmed-zebra
