[user]
	email = elasticnet1995@gmail.com
	name = gesoges0
[alias]
	tree = log --graph --oneline
[core]
	editor = vim
[sequence]
	editor = vim

# https://github.com/dandavison/delta
# fdfcc8fce30754a4f05eeb167a15d519888fc909
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
