[user]
	email = elasticnet1995@gmail.com
	name = gesoges0
[alias]
	tree = log --graph --oneline
[core]
	editor = vim
[sequence]
	editor = vim

# https://github.com/dandavison/delta
# fdfcc8fce30754a4f05eeb167a15d519888fc909

# https://github.com/dandavison/delta/blob/main/themes.gitconfig
[include]
    path = ~/src/dotfiles/delta/themes.gitconfig

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    features = my-delta-config

[delta "my-delta-config"]
    # features = mantis-shrimp  # mac laptop
    side-by-side = true
    # line-numbers = true
    # features = woolly-mammoth

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
    # https://git-scm.com/docs/git-diff#Documentation/git-diff.txt---color-movedltmodegt
    # colorMoved = dimmed-zebra
[commit]
    allowEmptyMessage = false

# https://jvns.ca/blog/2024/02/16/popular-git-config-options/#core-pager-delta
[fetch]
    	# 削除されたリモート追跡ブランチを自動的に削除
	prune = true
[branch]
	# gitブランチをアルファベット順ではなく、最近使われたブランチ順にソートします
	sort = -committerdate
[help]
	autocorrect = 100
